<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset Your Password</title>
</head>

<body>

<h1>Reset Your Password</h1>

<p>
    Hello <span th:text="${firstName}">Jimmie</span>,
</p>

<p>
    We received a request to reset your Groomi password.
</p>

<p>
    Click the button below to continue:
</p>

<a th:href="${resetLink}">
    Reset Password
</a>

<p>
    If you didn't request this, you can safely ignore this email.
</p>

</body>
</html>